<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Équipe Commerciale</title>
</head>
<body>
    
    <h1>Équipe Commerciale</h1>
    <a href="/">Retour à l'accueil</a>
    <div class="team-container">
        <% equipe.forEach(membre => { %>
            <div class="team-card">
                <p> Nom Prenom<%= membre.prenom %> <%= membre.nom %></p>
                <p>Fonction : <%= membre.fonction %></p>
                <p>Email : <%= membre.email %></p>
                <p>Téléphone : <%= membre.telephone %></p>
                
            </div>
        <% }) %>
    </div>
   
</body>
<%- include('footer.ejs') %>
</html>
